---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import ProjectsEng from '../components/ProjectsEng.astro'
import Contact from "../components/Contact.astro";
import Navbar from "../components/Navbar.astro";
import Skills from "../components/Skills.astro";

---

<Layout language="en" title="Portfolio Facundo Cejas">
  <Navbar
    contact="CONTACT"
    about="ABOUT ME"
    skills="SKILLS"
    projects="PROJECTS"
    page="/es"
    language={"ES"}
    flag={"espana"}
  />
  <div class="h-auto bg-slate-200 max-w-full">
    <div class="container mx-auto pt-10 py-20">
      <main>
        <About
          firstLetterOfFirstWord="A"
          restOfLettersAtFirstWord="BOUT"
          firstLetterOfLastWord="M"
          restOfLettersAtLastWord="E"
          firstParagraph="My name is Facundo Cejas, a 27-year-old frontend developer with a robust background in both web and desktop applications. My professional journey has been shaped by self-directed learning and practical experience in software development. I possess strong proficiency in JavaScript, React, NextJS, and other key tools in the frontend ecosystem."
          secondParagraph="While my work experience has predominantly been centered around individual projects, I have also gained significant teamwork experience during a specialized acceleration program. In this program, I collaborated with a team for three months to develop a comprehensive application, simulating a real-world project environment. This experience honed my ability to work effectively within a team, complementing my individual development skills."
          buttonText="DOWNLOAD MY CV"
          cvLink="https://drive.google.com/uc?export=download&id=1H-cAhbxqvfdzgcohBCtkCRiOnDKZ1dL6"
        />
        <ProjectsEng firstLetterofWord="P" restOfLettersOfWords="ROJECTS" />
        <Skills firstLetterOfWord="S" lastLetterOfWord="KILLS" />
        
        <Contact
          firstLetterOfWord="C"
          lastLettersOfWord="ONTACT"
          consulta="Information Request About"
          asunto="Hi, Facundo"
          github="My github profile"
          linkedin="My linkedin profile"
        />
      </main>
    </div>
  </div>

  <footer class="bg-gray-900 text-white body-font">
    <div
      class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
    >
      <a
        href="/" class="flex title-font font-medium items-center md:justify-start justify-center text-white"
      >
        <span  class="ml-3 text-xl cursor-pointer">Facundo Cejas</span>
      </a>
      <p
        class="text-sm sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-700 sm:py-2 sm:mt-0 mt-4"
      >
        All rights reserved © 2024
      </p>
      <span
        class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
      >
      </span>
    </div>
  </footer>
</Layout>
