---
interface Props {
	title: string;
	language: string;

}

const { title, language } = Astro.props;






---

<!doctype html>
<html lang={language} class="scroll-smooth" lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Facundo Cejas portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/resume.png" />
		<link rel="stylesheet" href="styles.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
		
		<!-- <Header /> -->
	<body>
		<slot />
	</body>
</html>
